/* Here box means div of all in nav bar */
* {
  margin: 0px;
  padding: 0px;
  border: border-box;
}
.background {
  background-color: #e2e7e6;
  height: 230vh;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
/* Amazon logo box 1 */
.nav-logo {
  height: 50px;
  width: 112px;
}
.logo {
  height: 50px;
  width: 112px;
  background-size: cover;
  background-image: url(/Amazon-clone/logo.png);
}
.boader {
  border: 1px solid transparent;
}
.boader:hover {
  border: 1px solid white;
}
/* Address in box 2 */
.first-pg {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.second-pg {
  font-size: 1rem;
  margin-left: 3px;
}
.icon-nepal {
  display: flex;
  align-items: center;
}
/* Serach in box 3 */
.navtools {
  display: flex;
  justify-content: space-evenly;
  width: 375px;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 57%;
  background-color: aqua;
  border-radius: 3px;
  margin-left: 13px;
}
.select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}
.input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #0f1111;
}
/* Box 4= box 1 */
.country {
  height: 53.38px;
  width: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Three {
  display: flex;
  margin-top: 13px;
  margin-bottom: 0px;
}
.image1 {
  height: 13px;
  width: 13px;
  background-image: url(/Amazon-clone/Nepal-logo.png);
  background-size: cover;
  margin-right: 3px;
  margin-top: 2px;
  border: 1px solid black;
}
.Np {
  height: 21px;
  width: 16px;
  font-weight: 900;
  margin-right: 1px;
  margin-top: 1px;
}
.fa-caret-down {
  height: 4px;
  width: 1px;
  color: #cccccc;
  margin-top: 8px;
  font-size: 0.65rem;
  margin-left: 6px;
}
.country:hover {
  border: 1px solid white;
}
/* Box 4 =box no 2 and 3 */
.sign-acc {
  margin-left: 16px;
}
.hello {
  margin-top: 11px;
  line-height: 15px;
}
.First {
  display: flex;
}
.pag-1 {
  font-size: 0.85rem;
}
.pg-2 {
  font-weight: 900;
  font-size: 1.1rem;
}
/* Box 4 =box no 4*/
.cart {
  margin-left: 16px;
}
.cart1 {
  display: flex;
  font-size: 30px;
  margin-top: 9.5px;
}
.Firsts {
  margin-top: 10.5px;
}
.nav-search:hover {
  border: 2px solid orange;
}
/*panel for second line */
.panel {
  height: 40px;
  display: flex;
  background-color: #222f3d;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-service {
  display: flex;
  width: 94%;
  font-size: 1rem;
}
.panel-service p {
  margin-left: 15px;
}
.P1 {
  margin-left: 0%;
}
/* hero section */
.hero {
  height: 70vh;
  background-image: url(/Amazon-clone/hero\ section.jpg);
  background-size: cover;
}

.hero-message {
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98.5%;
  color: black;
  margin-bottom: 10px;
}
.hero-message p {
  font-size: 1em;
}
.hero-message a {
  color: #007185;
  font-size: 1rem;
}
/* Shop section 1*/
.hero1 {
  padding-top: 205px;
  padding-left: 20px;
}
.shop1 {
  height: 405px;
  width: 98.6%;
  display: flex;
  justify-content: space-between;
  background-size: wrap;
}
.box {
  height: 405px;
  width: 340px;
  background-color: white;
}
/* Inside the shop section */
/* First shop  */
h2 {
  padding-left: 5%;
  padding-top: 5%;
}
.p {
  color: green;
  margin-left: 19px;
  font-size: 13px;
}
.div10 {
  display: grid;
  margin: 15px 25px 10px 15px;
  height: 300px;
  width: 90.6%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: white;
}
.Pg {
  display: inline;
  margin-left: 1px;
  font-size: 13px;
  font-weight: 450;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Second shop  */
.div20 {
  display: grid;
  margin: 15px 25px 10px 20px;
  width: 88%;
}

.p2 {
  margin: 18px 0px 0px 20px;
  font-size: 13px;
  font-weight: 450;
  color: green;
}
/* third shop */

.div30 {
  display: grid;
  margin: 15px 20px 10px 20px;
  height: 300px;
  width: 88%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: white;
  column-gap: 15px;
}

.Pg1 {
  font-size: 13px;
  font-weight: 450px;
}

/* Last shop */
.div40 {
  display: grid;
  margin: 15px 35px 10px 22px;
  height: 300px;
  width: 88%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  column-gap: 5px;
  row-gap: 15px;
}
.div41 {
  grid-column: span 3;
}

.Pg2 {
  font-size: 16px;
  font-weight: 450;
}
/* Shop section 2 */
.shop2 {
  margin: 20px 0px 0px 20px;
  height: 400px;
  width: 97.2%;
  display: flex;
  justify-content: space-between;
  background-size: wrap;
}
pre {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
/* last foot section */
footer {
  margin-top: 30px;
}
.panel-1 {
  height: 49px;
  width: 100vw;
  background-color: #37475a;
  color: white;
  display: grid;
  place-items: center;
  font-size: 0.85rem;
}
.panel-2 {
  height: 370px;
  background-color: #222f3d;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.footer-1 {
  height: 19.8em;
  margin: 40px 10px;
  color: white;
  margin-right: 6.25em;
}
.footer-4 {
  height: 318px;
  margin: 40px 10px;
  color: white;
}
.footer-4 p {
  font-size: 1rem;
  font-weight: 500;
  margin: 6px 0px 14px;
}
.footer-4 a {
  font-size: 13px;
  margin: 0px 0px 10px;
  display: block;
}
.footer-1 p {
  font-size: 1rem;
  font-weight: 500;
  margin: 6px 0px 14px;
}
.footer-1 a {
  font-size: 13px;
  margin: 0px 0px 10px;
  display: block;
}
.footer1 {
  height: 318px;
  width: 136px;
  color: white;
}
.footer2 {
  height: 318px;
  width: 170px;
  color: white;
}
.footer3 {
  height: 318px;
  width: 223px;
  color: white;
}
.footer4 {
  height: 318px;
  width: 120px;
  color: white;
}
.footer-1 a:hover {
  text-decoration: underline solid white;
}
hr {
  border-top: 1px solid white;
}
.lastpanel {
  height: 68px;
  background-color: #222f3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last1 {
  height: 34px;
  background-image: url(/Amazon-clone/last-logo.png);
  width: 96px;
  background-size: cover;
  background-position: center;
  margin-right: 4em;
  border-radius: 3px;
}
.last2 {
  height: 34px;
  color: white;
  border: 1px solid white;
  width: 116px;
  margin: 0.3em;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last2 i {
  font-size: 0.9em;
}
.last2 p {
  margin-left: 18px;
  font-size: 0.85rem;
}
.last3 {
  height: 34px;
  color: white;
  border: 1px solid white;
  margin: 0.3em;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 151px;
}
.last3 i {
  margin-right: 1em;
  font-size: 0.9em;
}
.last3 p {
  font-size: 0.85rem;
  margin-right: 1.2em;
}
.flags1 {
  height: 12px;
  width: 18px;
  background-image: url(/Amazon-clone/flags-us.png);
  background-size: cover;
  background-position: cover;
  margin-right: 0.7em;
}
.last4 {
  height: 34px;
  color: white;
  border: 1px solid white;
  margin: 0.3em;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
}
.last4 p {
  font-size: 0.85rem;
  margin-right: 1.2em;
}
