*{
    margin: 0px;
    border:border-box;
}
.navbar{
height: 60px;
background-color:#0f1111;
color: white;
}
.nav-logo{
    height: 50px;
    width: 112px;

}
.logo{
    height: 50px;
    width: 112px;
    background-size: cover;  
    background-image:url(/Amazon-clone/logo.png) ;
}
.boader{
    boader:1px solid transparent;
}
.boader:hover{
    border:1px solid white ;
}